/********************************************************************************/
/* html body */


html, body {
  height: 100%;
}

body {
  /* body est un container flex en column */
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/********************************************************************************/
/* sections */

section {
  padding: 0 30px;
  /* display: none; */
  margin: auto;
  max-width: 1000px;
  height: 110vh;
}

section.active, section.active section { /* avec la classe "active", on affiche la section */
  display: flex;
  flex-direction: column;
}

nav{
  background-color: #00000050;
}

nav>ul {
  display: flex;
  justify-content: center;
  gap: 90px;
  padding: 10px 0px;
  margin: 0;
  list-style: none;
}

nav a {
  text-decoration: none;
}

nav li.active a{
  color: var(--primary-color);
}

footer{
  display: flex;
  flex-direction: row;
  background-color: #00000050;
  width: 100%;
  justify-content: center;
  box-sizing: border-box;
  gap: 10vw;
  padding: 0 30px;
  bottom: 0;
  left: 0;
}

.buttons{
  margin-top: var(--gap-big);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-classic);
}

.button{
  border: 6px solid var(--primary-color);
  border-radius: var(--border-radius);
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  text-decoration: none;
}

.primary{
  background-color: var(--primary-color);
}