/* On utilise Montserrat par défaut */
* {
  font-family: "Calistoga", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  color: var(--text-color);
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}



nav p, ol, li, a{
  font-family: "Caudex", sans-serif;
  font-size: 28px;
}

text {
  font-family: "Caudex", sans-serif;
  font-size: 14px;
  fill: var(--text-color);
}

span {
  color: var(--primary-color);
}

h2 span {
  font-size: 3.5rem;
}

p.higher{
  font-size: 1.4rem;
}

p.high {
  font-size: 1.1rem;
}

p.small {
  font-size: 0.9rem;
}