/* On utilise Montserrat par défaut */
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: var(--text-color);
}

#proches{
  font-family: "Calistoga", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  text-align: center;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

nav p, ol, li, a{
  color: var(--text-color);
}

text {
  font-family: "Caudex", sans-serif;
  font-size: 14px;
  fill: var(--text-color);
}

span {
  color: var(--primary-color);
}

#proches h2, #proches h2 span {
  font-size: 64px;
}


#proches h3, #proches h3 span {
  font-size: 48px;
}


#proches h4, #proches h4 span {
  font-size: 40px;
}
#proches p.higher{
  font-size: 48px;
}

#proches p.high {
  font-size: 40px;
}

#proches p.small {
  font-size: 32px;
}

#timer p{
  font-size: 96px;
  margin: 0;
}